<footer>
    <div class="footer-container">
        <!-- Social Media -->
        <div class="footer-social-media">
            <h3>Follow Us</h3>
            <ul class="social-icons">
                <li><a href="https://www.facebook.com/people/Around-The-Ville/61561437156105/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://www.instagram.com/around.the.ville/" target="_blank"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>

        <!-- Newsletter -->
        <div class="footer-newsletter">
            <h3>Stay Updated</h3>
            <form id="newsletter-form">
                <input type="email" placeholder="Enter your email" required>
                <button type="submit">Subscribe</button>
            </form>
        </div>
    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <p>© <span id="current-year"></span> Around The Ville. All rights reserved.</p>
        <ul class="footer-links">
            <li><a href="https://aroundtheville.com/html/privacy-policy.html" id="privacy-policy-link">Privacy Policy</a></li>
            <li><a href="https://aroundtheville.com/html/contact-us.html" id="contact-us-link">Contact Us</a></li>
        </ul>
    </div>




</footer>
