<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>
<header class="nav">
    <div class="logo">
        <img src="./assets/icons/logo.png" alt="My Logo">
    </div>

    <nav class="navbar">
        <ul>
            <li><a href="./">Home</a></li>
            <li><a href="./blogs.html">Blogs</a></li>
            <li><a href="./readers.html">Offers</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>

    <!-- Hamburger Menu -->
    <div class="hamburger" id="hamburger-icon">
        <img src="./assets/icons/hamburger.png" alt="Menu">
    </div>

    <!-- New Overlay Menu -->
   <!-- New Overlay Menu -->
<div class="overlay-menu" id="overlayMenu">
    <div class="overlay-content">
        <!-- Navigation Links -->
        <a href="./">Home</a>
        <a href="./blogs.html">Blogs</a>
        <a href="./readers.html">Offers</a>
        <a href="#">About</a>

      


        <!-- Close X Button (Positioned at Top Right) -->
        <button id="closeOverlay" class="close-btn">X</button>
    </div>
</div>

</header>

