

<header class="nav">
    <div class="logo">
        <img src="../assets/icons/logo.png" alt="My Logo">
    </div>
    
    <nav class="navbar">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Blogs</a></li>
            <li><a href="#">Images</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>

    <!-- Hamburger Menu -->
    <div class="hamburger" id="hamburger-icon">
        <img src="../assets/icons/hamburger.png" alt="Menu">
    </div>

    <!-- Overlay Menu -->
    <div class="overlay-menu" id="overlayMenu">
        <div class="overlay-content">
            <a href="#">Home</a>
            <a href="./blogs/">Blogs</a>
            <a href="#">Images</a>
            <a href="#">About</a>
            <button id="closeOverlay">Close</button>
        </div>
    </div>
</header>
