<head>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  />
  <link rel="stylesheet" href="../assets/styles/mobile-menu.css">

</head>
<section class="app-navigation">
    <a href="#home" class="nav-item">
      <i class="fas fa-home"></i>
      <span>Home</span>
    </a>
    <a href="#search" class="nav-item">
      <i class="fas fa-search"></i>
      <span>Search</span>
    </a>
    <a href="#notifications" class="nav-item">
      <i class="fas fa-bell"></i>
      <span>Notifications</span>
    </a>
    <a href="#profile" class="nav-item">
      <i class="fas fa-user"></i>
      <span>Profile</span>
    </a>
  </section>
